

<FTLayer>
    <div class="@dialogType" style="@StyleOverride">
        <div class="dialog-title d-flex align-content-center justify-content-between">
            <h4 class="my-0 pt-1 mx-2">@DialogTitle</h4>
            <button class="btn btn-sm btn-secondary" @onclick="OnClose"><span class="oi oi-x"></span></button>
        </div>
        <div class="dialog-body">
            @ChildContent
        </div>
    </div>
</FTLayer>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public string DialogTitle { get; set; } = "";
    [Parameter]
    public DialogType DialogType { get; set; } = DialogType.CENTER;
    [Parameter]
    public string StyleOverride { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string dialogType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        switch (DialogType)
        {
            case DialogType.FULLWINDOW:
                dialogType = "ft-full-window ";
                break;
            case DialogType.FULLWINDOWCORNERED:
                dialogType = "ft-full-window-cornered";
                break;
            case DialogType.TOPLEFT:
                dialogType = "ft-dialog-top-left";
                break;
            case DialogType.TOPCENTER:
                dialogType = "ft-dialog-top-center";
                break;
            case DialogType.TOPRIGHT:
                dialogType = "ft-dialog-top-right";
                break;
            case DialogType.MIDLEFT:
                dialogType = "ft-dialog-mid-left";
                break;
            case DialogType.MIDRIGHT:
                dialogType = "ft-dialog-mid-right";
                break;
            case DialogType.BOTTOMLEFT:
                dialogType = "ft-dialog-bottom-left";
                break;
            case DialogType.BOTTOMCENTER:
                dialogType = "ft-dialog-bottom-center";
                break;
            case DialogType.BOTTOMRIGHT:
                dialogType = "ft-dialog-bottom-right";
                break;
            case DialogType.CENTER:
            default:
                dialogType = "ft-dialog";
                break;
        }
    }

}
