<li class="nav-item dropdown">
    <button class="btn @BtnCustomCssClass @TextColorCustomCssClass ft-btn-round" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @ImgContent @*<i class="ms-Icon ms-Icon--Chat" aria-hidden="true"></i>*@
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-2 pt-0 ft-top-bar-dropdown" aria-labelledby="navbarDropdownMenuLink">

        <div class="p-4 ms-fontWeight-regular ms-fontSize-20 text-center bg-primary text-light">@Title</div>
        <div class="ft-dropdown-panel-main">
            @ChildContent
        </div>
    </div>
</li>
@code {
    [Parameter]
    public RenderFragment ImgContent { get; set; }

    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    

    [CascadingParameter(Name = "FT_THEME")]
    public ThemeOption themeOption { get; set; } = ThemeOption.LIGHT;
    private string BtnCustomCssClass { get; set; } = "";
    private string TextColorCustomCssClass { get; set; } = "";
    private string BackgroundColorCssClass { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        switch (themeOption)
        {
            case ThemeOption.LIGHT:
                BtnCustomCssClass = "btn-light ";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_LIGHT:
                BtnCustomCssClass = "ft-btn-light";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_DARK:
                BtnCustomCssClass = "ft-btn-dark";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";

                break;
            default:
            case ThemeOption.DARK:
                BtnCustomCssClass = "btn-dark ";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";
                break;
        }


    }
}
