@using Hippra.Models.FTDesign


<div class="container-fluid btn-group" role="group" aria-label="menu">
    @for (var i = 0; i < MenuItems.Count; i++)
    {
        var item = MenuItems.ElementAt(i);
        <div class="btn btn-under-primary @HMenuCssClass[i]" @onclick="(e=>menuSelected(item.ID))">@item.Name</div>
    }
</div>




@code {
    [Parameter]
    public List<HMenuItem> MenuItems { get; set; }
    [Parameter]
    public EventCallback<int> MenuClicked { get; set; }

    private string[] HMenuCssClass { get; set; }


    protected override async Task OnInitializedAsync()
    {
        HMenuCssClass = new string[MenuItems.Count];
        for (int i = 0; i < HMenuCssClass.Length; i++)
        {
            if (MenuItems.ElementAt(i).IsActive)
            {
                HMenuCssClass[i] = "active";
            }
            else
            {
                HMenuCssClass[i] = "";
            }
            
        }

    }

    public async Task menuSelected(int id)
    {
        var lastItem = MenuItems.FirstOrDefault(s => s.IsActive == true);
        var itemIndex = MenuItems.FindIndex(s => s.ID == lastItem.ID);
        lastItem.IsActive = false;
        HMenuCssClass[itemIndex] = "";

        var item = MenuItems.FirstOrDefault(s => s.ID == id);
        itemIndex = MenuItems.FindIndex(s => s.ID == id);
        item.IsActive = true;
        HMenuCssClass[itemIndex] = "active";

        await MenuClicked.InvokeAsync(id);
        this.StateHasChanged();

    }
}
