@using Hippra.Models.FTDesign

<a class="ft-notification-item d-flex ft-link-unstyled" href="@item.Link">
    <div class="ft-notification-item-icon">
        <i class="ms-Icon ms-Icon--@item.Icon" aria-hidden="true"></i>
    </div>
    <div class="flex-grow-1 align-content-center">
        <blockquote class="blockquote mb-0 ft-notification-item-content">
            <p class="mb-0">@item.Title</p>
            <footer class="blockquote-footer">@item.Time</footer>
        </blockquote>
    </div>
</a>

@code {
        [Parameter]
    public NotificationItem item { get; set; }
}
