
<div class="ft-main">
    @ChildContent
    <br />
    <br />
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    //[Parameter]
    //public bool IncludeSubHeader { get; set; } = false;
    [Parameter]
    public string PageTitle { get; set; } = "Page Title";
    //[Parameter]
    //public bool IncludeFooter { get; set; }
}
