

<FTLayer>
    <div class="@panelType" style="@StyleOverride">
        <div class="ft-panel-top-row d-flex align-items-center justify-content-between">
            <div class="ms-fontWeight-regular ms-fontSize-20 text-light">@title</div>
            <button class="btn text-light btn-ft" @onclick="OnClose"><i class="ms-Icon ms-Icon--StatusCircleErrorX" aria-hidden="true"></i></button>
        </div>
        <div class="dialog-body">
            @ChildContent
        </div>
    </div>
</FTLayer>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public string title { get; set; } = "";
    [Parameter]
    public PanelType PanelType { get; set; } = PanelType.CENTER;
    [Parameter]
    public string StyleOverride { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string panelType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        switch (PanelType)
        {
            case PanelType.TOP:
                panelType = "ft-panel-top";
                break;
            case PanelType.RIGHT:
                panelType = "ft-panel-right";
                break;
            case PanelType.BOTTOM:
                panelType = "ft-panel-bottom";
                break;
            case PanelType.LEFT:
                panelType = "ft-panel-left";
                break;
            case PanelType.CENTER:

            default:
                panelType = "ft-panel";
                break;
        }
    }

}
