@using Hippra.Models.FTDesign

<a class="ft-quick-action-item d-flex align-items-center justify-content-center ft-link-unstyled" href="@item.Link">
    <div class=" text-center">
        
        <i class="ms-Icon ms-Icon--@item.Icon" aria-hidden="true"></i>
        <div class=" ms-fontWeight-regular ms-fontSize-20">@item.Title</div>
    </div>
</a>

@code {
    [Parameter]
    public QuickActionItem item { get; set; }
}
