@using Hippra.Models.FTDesign


    <div class="container-fluid text-center">
        @foreach (var i in menuArray)
        {
            if (i.id < current)
            {
                <div class="btn btn-success ft-btn-circle" @onclick="(e=>menuSelected(i.id))"><i class="ms-Icon ms-Icon--Accept" aria-hidden="true"></i></div>
            }
            else if (i.id == current)
            {
                <div class="btn btn-primary ft-btn-circle" style="width:42px;height:40px;" @onclick="(e=>menuSelected(i.id))">@(i.id + 1)</div>
            }
            else
            {
                <div class="btn btn-outline-dark ft-btn-circle" style="width:42px;height:40px;" @onclick="(e=>menuSelected(i.id))">@(i.id + 1)</div>
            }

        }
    </div>




@code {

    [Parameter]
    public int count { get; set; } = 0;
    [Parameter] public EventCallback<int> MenuClicked { get; set; }
    [Parameter]
    public int current { get; set; }
    private List<array> menuArray { get; set; }
    private class array
    {
        public int id { get; set; }
    }


    protected override async Task OnInitializedAsync()
    {

        current = 0;
        menuArray = new List<array>();
        for (int i = 0; i < count; i++)
        {
            menuArray.Add(new array { id = i });
        }


    }

    public async Task menuSelected(int id)
    {
        current = id;

        await MenuClicked.InvokeAsync(id);
        this.StateHasChanged();

    }

}
