@inject IJSRuntime JSRuntime;

@if (UseRedirect)
{
    <div>
        <a href="@returnUrl" class=""><i class="ms-Icon ms-Icon--CaretLeftSolid8" aria-hidden="true"></i></a><span class="ml-1 mr-2"> @BackTitle</span>

    </div>
}
else
{
    <div>
        <a class="" href="" @onclick="wBack" @onclick:preventDefault><i class="ms-Icon ms-Icon--CaretLeftSolid8" aria-hidden="true"></i></a><span class="ml-1 mr-2"> @BackTitle</span>
    </div>

}

@code {
    [Parameter]
    public string BackTitle { get; set; } = "";

    [Parameter]
    public bool UseRedirect { get; set; } = true;

    [Parameter]
    public string returnUrl { get; set; } = "/";

    private async Task wBack()
    {
        //await JSRuntime.InvokeAsync<string>("fireAlert","");
        await JSRuntime.InvokeAsync<string>("blazorExtensions.simBackEvent", "");
    }

}
