
@page "/FTDashboard"


<FTSubHeaderBar Title="Dashboard">
    <div> item left</div>
    <div class="flex-grow-1">  </div>
    <div> item right</div>
</FTSubHeaderBar>

<div>
    hello world
</div>

@code {

}
