@page "/FTDesignDemo"
@using Hippra.Models.FTDesign

<FTSubHeaderBar Title="FTDesign" >
    <div>Demo Home</div>
</FTSubHeaderBar>


<div class="row">
    <div class="col">
        <FTLayoutSettings />
    </div>
</div>


@code {

}
