@page  "/FTUserList"

    <FTSubHeaderBar Title="Users">
        <div> 9 Total</div>
    </FTSubHeaderBar>

<div class="row">
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
    <div class="col">
        <FTUserSimple name="Jason" id="1" />
    </div>
</div>
@code {

}
