@page "/FTSignIn"

    <FTSubHeaderBar Title="Sign In">
        <div>
            Sign to Account
        </div>
        <div class="flex-grow-1">  </div>

        <div>Don't have an account? <a href="FTRegister">Sign Up</a></div>

    </FTSubHeaderBar>

    <div class="alert alert-danger">This feature is NOT working on Blazor Server Side due to PasswordSignInAsync. Filed to Microsoft: https://github.com/aspnet/AspNetCore/issues/15720</div>
<FTLogin />

@code {

}
