@using Microsoft.AspNetCore.Identity
@using Hippra.Models.SQL
@using Microsoft.Extensions.Options
@using Hippra
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IOptions<AppSettings> settings
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="Identity/Account/Manage" title="Manage"><span style="font-size: 1.5em;"><i class="fas fa-user-circle" style="width:24px"></i></span></a>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="Identity/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="Identity/Account/Login">Login</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>


@code{

}


@*<AuthorizeView>
        <Authorized>
            <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="Identity/Account/Register">Register</a>
            <a href="Identity/Account/Login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>*@
