@using Hippra.Models.FTDesign

<FTDropdownPanel Title="Notifications">
    <ImgContent>
        <i class="ms-Icon ms-Icon--Chat" aria-hidden="true"></i>
    </ImgContent>
    <ChildContent>
        <FTNotificationHost Items="Items" />
    </ChildContent>
</FTDropdownPanel>



@*<li class="nav-item dropdown">
        <button class="btn @BtnCustomCssClass @TextColorCustomCssClass ft-btn-round" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ms-Icon ms-Icon--Chat" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-2 pt-0 top-bar-dropdown" aria-labelledby="navbarDropdownMenuLink">

            <div class="p-4 ms-fontWeight-regular ms-fontSize-20 text-center bg-primary text-light">Notifications</div>
            <div class="notification-list">
                <div class="notification-item d-flex">
                    <div class="notification-item-icon">
                        <i class="ms-Icon ms-Icon--DocumentApproval" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow-1 align-content-center">
                        <blockquote class="blockquote mb-0 notification-item-content">
                            <p class="mb-0">New order approved.</p>
                            <footer class="blockquote-footer">2 hrs ago</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="notification-item d-flex">
                    <div class="notification-item-icon">
                        <i class="ms-Icon ms-Icon--DocumentApproval" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow-1 align-content-center">
                        <blockquote class="blockquote mb-0 notification-item-content">
                            <p class="mb-0">New order approved.</p>
                            <footer class="blockquote-footer">2 hrs ago</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="notification-item d-flex">
                    <div class="notification-item-icon">
                        <i class="ms-Icon ms-Icon--DocumentApproval" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow-1 align-content-center">
                        <blockquote class="blockquote mb-0 notification-item-content">
                            <p class="mb-0">New order approved.</p>
                            <footer class="blockquote-footer">2 hrs ago</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="notification-item d-flex">
                    <div class="notification-item-icon">
                        <i class="ms-Icon ms-Icon--DocumentApproval" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow-1 align-content-center">
                        <blockquote class="blockquote mb-0 notification-item-content">
                            <p class="mb-0">New order approved.</p>
                            <footer class="blockquote-footer">2 hrs ago</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="notification-item d-flex">
                    <div class="notification-item-icon">
                        <i class="ms-Icon ms-Icon--DocumentApproval" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow-1 align-content-center">
                        <blockquote class="blockquote mb-0 notification-item-content">
                            <p class="mb-0">New order approved.</p>
                            <footer class="blockquote-footer">2 hrs ago</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="notification-item d-flex">
                    <div class="notification-item-icon">
                        <i class="ms-Icon ms-Icon--DocumentApproval" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow-1 align-content-center">
                        <blockquote class="blockquote mb-0 notification-item-content">
                            <p class="mb-0">New order approved.</p>
                            <footer class="blockquote-footer">2 hrs ago</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </li>*@
@code {

    [CascadingParameter(Name = "FT_THEME")]
    public ThemeOption themeOption { get; set; } = ThemeOption.LIGHT;
    private string BtnCustomCssClass { get; set; } = "";
    private string TextColorCustomCssClass { get; set; } = "";
    private string BackgroundColorCssClass { get; set; } = "";


    private List<NotificationItem> Items { get; set; } = new List<NotificationItem>();

    protected override async Task OnInitializedAsync()
    {
        switch (themeOption)
        {
            case ThemeOption.LIGHT:
                BtnCustomCssClass = "btn-light ";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_LIGHT:
                BtnCustomCssClass = "ft-btn-light";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_DARK:
                BtnCustomCssClass = "ft-btn-dark";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";

                break;
            default:
            case ThemeOption.DARK:
                BtnCustomCssClass = "btn-dark ";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";
                break;
        }

        NotificationItem item = new NotificationItem()
        {
            Title = "New order approved.",
            Link = "",
            Icon = "DocumentApproval",
            Time = "2 hrs ago"
        };
        Items.Add(item);
        for(int i = 0; i < 8; i++)
        {
            item = new NotificationItem()
            {
                Title = "New order approved.",
                Link = "",
                Icon = "DocumentApproval",
                Time = "2 hrs ago"
            };
            Items.Add(item);
        }

    }
}
