@using Hippra.Models.FTDesign



@*<li class="nav-item">
    <button class="btn @BtnCustomCssClass @TextColorCustomCssClass ft-btn-round" @onclick="TogglePanel">
        <i class="ms-Icon ms-Icon--Waffle" aria-hidden="true"></i>
    </button>
</li>
@if (IsPanelOpen)
{
    
<FTPanel title="Contacts" OnClose="TogglePanel" PanelType=PanelType.RIGHT>
    <FTContactManager></FTContactManager>
</FTPanel>


}*@


@code {


    [CascadingParameter(Name = "FT_THEME")]
    public ThemeOption themeOption { get; set; } = ThemeOption.LIGHT;
    private string BtnCustomCssClass { get; set; } = "";
    private string TextColorCustomCssClass { get; set; } = "";
    private string BackgroundColorCssClass { get; set; } = "";

    private bool IsPanelOpen { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        switch (themeOption)
        {
            case ThemeOption.LIGHT:
                BtnCustomCssClass = "btn-light ";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_LIGHT:
                BtnCustomCssClass = "ft-btn-light";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_DARK:
                BtnCustomCssClass = "ft-btn-dark";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";

                break;
            default:
            case ThemeOption.DARK:
                BtnCustomCssClass = "btn-dark ";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";
                break;
        }
    }

    private async Task TogglePanel()
    {
        IsPanelOpen = !IsPanelOpen;
        this.StateHasChanged();
    }
}
