<li class="nav-item dropdown">
    <button class="btn @BtnCustomCssClass @TextColorCustomCssClass ft-btn-round" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right px-2 top-bar-search" aria-labelledby="navbarDropdownMenuLink" style="width: 320px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>
</li>
@code {
    
    [CascadingParameter(Name = "FT_THEME")]
    public ThemeOption themeOption { get; set; } = ThemeOption.LIGHT;
    private string BtnCustomCssClass { get; set; } = "";
    private string TextColorCustomCssClass { get; set; } = "";
    private string BackgroundColorCssClass { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        switch (themeOption)
        {
            case ThemeOption.LIGHT:
                BtnCustomCssClass = "btn-light ";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_LIGHT:
                BtnCustomCssClass = "ft-btn-light";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_DARK:
                BtnCustomCssClass = "ft-btn-dark";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";

                break;
            default:
            case ThemeOption.DARK:
                BtnCustomCssClass = "btn-dark ";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";
                break;
        }


    }
}
