@page  "/FTRZRelogin"

@model Hippra.Pages.FTDesign.Pages.Identity.FTRZReloginModel

@{
    ViewData["Title"] = "Re-Sign In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.0.0/css/fabric.min.css" />
    @*<link href="~/css/ChartJSBlazor.css" rel="stylesheet" />*@
    <link href="css/FTDesign.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/081896728a.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="mx-4">

        <div class="ft-subheader-bar text-dark ft-border-bottom">
            <div class="ms-fontWeight-semibold ms-fontSize-20 ">
                Sign In
            </div>

            <div class="mx-2"> | </div>
            <div>
                Sign to Account
            </div>
            <div class="flex-grow-1">  </div>

            <div>Don't have an account? <a href="FTRegister">Sign Up</a></div>
        </div>
        <div class="">

            <div class="d-block text-center">
                <br />
                <br />
                <br />
                <h4 class="display-4">@ViewData["Title"]</h4>
                <br />
                <div class="container">
                    <img src="/img/idea/i8s.jpg" class="img-fluid d-md-none" />
                    <div class="row ">
                        <div class="col d-none d-md-block ">
                            <br />
                            <img src="/img/idea/i8s.jpg" class="img-fluid" />

                        </div>
                        <div class="col   ">
                            <div class="container-fluid mx-auto">
                                <form id="account" method="post">
                                    @*<h4>Use a local account to log in.</h4>*@

                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <a id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a href="/FTRegister">Register as a new user</a>
                                        </p>
                                        @*<p>
                            <button type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-secondary">Resend email confirmation</button>
                        </p>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <br />
            <br />
        </div>

    </div>




    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/siteJsInterop.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
