@page  "/about"

    <div class="">

        <div class="jumbotron jumbotron-fluid bg-about">
            <br /><br />
            <div class="container text-center">
                <h1 class="display-4">About</h1>
                <p class="lead">Nexus 8 International, LLC</p>
            </div>
            <br />
            <br />
        </div>
        <div class="container">
            <br />

            <div class="row align-items-center">
                <div class="col">
                    <div class="h3 mb-2">
                        NEXUS 8 INTERNATIONAL
                    </div>
                    <p>
                        Without the process of collaboration, humankind would never have evolved to harness the ingenuity, innovation and creativity that has produced some of the world’s most important milestones.  At Nexus 8 International, we are poised to facilitate the collaborative process by providing the Hippra application for healthcare providers.  This technology will allow physicians to access the infinite intelligence that exists when individuals come together to do meaningful problem solving and to promote positive results when it comes to dealing with difficult to treat cases.
                    </p>
                </div>
                <div class="col d-none d-md-block ">
                    <img class="" src="/img/hippra/physicianconsult.jpg" />
                </div>
            </div>
            <div class="d-md-none">
                <img class="img-fluid" src="/img/hippra/physicianconsult.jpg" />
            </div>
            <br /><br />
            <div class="row justify-content-center">
                <div class="card" style="max-width: 40rem;">
                    <img src="/img/hippra/physicianconsult2.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <p class="card-text">Finding meaningful solutions to difficult or challenging cases through the collaborative process promotes added value in 21st Century patient care.</p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="container">
                <div class="h4">
                    KEY PROBLEMS IN HEALTHCARE TODAY
                </div>
                <p>
                    <ul>
                        <li>Medical professionals face challenging problems every day without having a way to easily connect with colleagues and other care givers to find the optimal solution for their patients.</li>
                        <li>Doctors need an expedient process to connect and collaborate with colleagues through a secure system.</li>
                        <li>Medical professionals have knowledge to share that can significantly enhance value and improve patient care.</li>
                        <li>Healthcare providers must deliver services in a timely manner – technology not only allows immediate access to other experts, but does so in a manner that contributes to a more positive patient outcome than if the physician were acting alone.</li>
                    </ul>
                </p>
            </div>
            <br />
            <br />
            <div class="text-center d-md-none">
                <img class="img-fluid" src="/img/hippra/hippralogo.jpg" />
            </div>
            <br />
            <div class="row align-items-center">
                <div class="col d-none d-md-block">
                    <div class="text-center">
                        <img src="/img/hippra/hippralogo.jpg" />
                    </div>
                </div>
                <div class="col">
                    <div class="h3 mb-2">
                        The Solution
                    </div>
                    <p>
                        Our company is poised to facilitate ease of communication among medical professionals and to maximize healthcare outcomes particularly when such collaboration helps to resolve chronically challenging or treatment-resistant cases.  As mobile technology expands, it is beginning to re-define current and future healthcare; our platform seeks to fully exemplify this new paradigm by substantially enhancing collaborations via mobile services.
                    </p>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <br>
            <div class="d-md-none">
                <img class="img-fluid" src="/img/hippra/ppl.jpg" />
            </div>
            <div class="row align-items-center">
                <div class="col d-none d-md-block">
                    <img src="/img/hippra/ppl.jpg" />
                </div>
                <div class="col">
                    <div class="h3 mb-2">
                        TEAM
                    </div>
                    <p>
                        Janice R. McRae, Ph.D., Founder & CEO, Radhika Rao, Tech Advisors; Dr. Ira Rabin, Medical Advisor; Viplove Prakash, Product Manager; Kun Chen, Web Developer; Yvonne Okafor, Finance;Kai Sun, IOS Developer; Qichen Wang, Android Developer; John Howell, Marketing.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>

@code {

}
