<div>
    <div class="alert alert-primary mb-0" role="alert">
        Welcome to Hippra Beta!
    </div>
    <div class="jumbotron jumbotron-fluid bg-home">
        <br /><br /><br /><br />
        <div class="container text-center bg-home-text">
            <h1 class="display-4">HIPPRA</h1>
            <p class="lead">A platform to enable physican-to-physician collaboration</p>
        </div>
        <br />
        <br /><br /><br />
    </div>
    <br /><br />
    <div class="text-center">
        <div class="display-4">Join the Future of Healthcare Collaboration</div>
        <div>Expedient knowledge sharing and outcome oriented collaboration among healthcare providers</div>
    </div>
    <br /><br /><br />
    <br />
    <div class="">
        <div class="bg-white py-4">
            <div class="container py-4 d-none d-sm-block">
                <div class="row align-items-center text-center">
                    <div class="col">
                        <i class="fa fa-group fa-3x"></i>

                    </div>
                    <div class="col">
                        <i class="fa fa-comments fa-3x"></i>

                    </div>
                    <div class="col">
                        <i class="fa fa-user-md fa-3x"></i>

                    </div>
                    <div class="col">
                        <i class="fa fa-lock fa-3x"></i>

                    </div>
                </div>
                <br />
                <div class="row align-items-center text-center">
                    <div class="col">

                        <p>
                            Collaborate
                            with your peers
                        </p>
                    </div>
                    <div class="col">

                        <p>
                            Get answers
                            to your questions
                        </p>
                    </div>
                    <div class="col">

                        <p>
                            Improve outcomes
                            for your patients
                        </p>
                    </div>
                    <div class="col">

                        <p>
                            Communicate within a secure,
                            HIPAA compliant application
                        </p>
                    </div>
                </div>
            </div>
            <div class="container py-4 d-sm-none">
                <div class="row align-items-center text-center">
                    <div class="col">
                        <i class="fa fa-group fa-3x"></i>

                    </div>
                    <div class="col">
                        <i class="fa fa-comments fa-3x"></i>

                    </div>

                </div>
                <br />
                <div class="row align-items-center text-center">
                    <div class="col">

                        <p>
                            Collaborate
                            with your peers
                        </p>
                    </div>
                    <div class="col">

                        <p>
                            Get answers
                            to your questions
                        </p>
                    </div>

                </div>
                <br />
                <div class="row align-items-center text-center">

                    <div class="col">
                        <i class="fa fa-user-md fa-3x"></i>

                    </div>
                    <div class="col">
                        <i class="fa fa-lock fa-3x"></i>

                    </div>
                </div>
                <br />
                <div class="row align-items-center text-center">

                    <div class="col">

                        <p>
                            Improve outcomes
                            for your patients
                        </p>
                    </div>
                    <div class="col">

                        <p>
                            Communicate within a secure,
                            HIPAA compliant application
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-primary py-4">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col">
                        <img src="/img/hippra/1.png" class="img-fluid" />
                    </div>
                    <div class="col text-white">
                        <div class="h3 mb-2">
                            Why Hippra?
                        </div>
                        <p>
                            <ul>
                                <li>Designed specifically for helping with a treatment-resistant, difficult to diagnose or challenging case</li>
                                <li>Uncomplicated – ease of use</li>
                                <li>It’s an enhanced “curbside consult” tool</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white py-4">
            <div class="container">
                <br />
                <div class="row align-items-center ">
                    <div class="col">
                        <div class="h3 mb-2">
                            Why Hippra?
                        </div>
                        <p>
                            <ul>
                                <li>Helps contribute to positive patient outcomes</li>
                                <li>Adds value to patient care</li>
                                <li>Saves time</li>

                            </ul>
                        </p>
                    </div>
                    <div class="col ">
                        <img src="/img/hippra/2.jpg" class="img-fluid" />
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="bg-info py-4">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col">
                        <img src="/img/hippra/3.png" class="img-fluid" />
                    </div>
                    <div class="col text-white">
                        <div class="h3 mb-2">
                            Why Hippra?
                        </div>
                        <p>
                            <ul>
                                <li>Quickly access knowledgeable healthcare providers</li>
                                <li>HIPAA compliant</li>
                                <li>Potentially more effective than if provider were acting alone</li>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white text-center">
            <div class="container">

                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <h5 class="card-title">
                    SIGN UP NOW AND JOIN OUR SELECT TEAM
                    OF EARLY INNOVATORS AND BETA USERS!
                </h5>
                <p class="card-text">Join our select group of early experts helping to make Hippra a highly effective, highly utilized resource for the healthcare providers. </p>
                <a class="btn btn-primary" href="FTRegister">Sign Up</a>
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />

            </div>

        </div>

    </div>

</div>

@code {

}
