@page "/privacy"


<div class="container">


    <div class="content">
        <br />
        <br />
        <h1>Privacy Policy</h1>
       
        <p>Last Updated: May 18, 2020 </p>
      
        <p> This privacy policy governs your use of Hippra,a software application (“Application” and “Hippra Application”) that was created by Nexus 8 International, LLC. The Application includes a method forknowledge sharing about medical cases, including comments and questions. These features and cases are collectively referred to as "the Services."</p>
       

        <h3>User Consent </h3>
        <p> By submitting Personal User Informationthrough our Site or Services, you agree to the terms of this Privacy Policy, and you expressly consent to the collection, use and disclosure of your Personal Data to third party service providers used in connection with making certain Services available to you. If you do not agree, you should discontinue use of the Site and Services immediately.</p>
        <br />

        <h5> Section 1. What information does the Application obtain and how is it used?</h5>
        <h4>User-Provided Information </h4>
        <p>The Application obtains the information you provide when you download and register for the Application. This includes the following categories of information: Personal User Information, User-Provided Case Information, Optional User-Provided Information and Automatically Collected Information. </p>
        <br />

        <h3> Personal User Information </h3>

        <p> When you register for Hippra, you provide your 
        <br>
        <br>
        •email address
        <br>
        •username
        <br>
        •password
        <br>
        •specialty (selected from a drop-down menu)
        <br>
        •areas of interest
        <br>
        •verification details(National Provider ID number).
        <br>
        <br>
        This information is referred to collectively as your “Personal User Information.” We collect and hold this information for the purpose of administering your use of the Application.
        <br>
        <br>
        You are solely responsible for (1) maintaining the strict confidentiality of your Personal User Information, (2) not allowing another person to use your Personal User Information to access the Services, (3) any and all damages or losses that may be incurred or suffered as a result of any activities that occur under your Personal User Information. You agree to immediately notify 
       <br>
       <br>
       Nexus 8 International, LLCin writing by email tosupport@hippra.comof any unauthorized use of your Personal User Information or any other breach of security. Nexus 8 International, LLCis not and shall not be liablefor any harm arising from or relating to the theft of your Personal User Information, your disclosure of your Personal User Information, or the use of your Personal User Information by another person or entity.
      <br>
       </p>
       <br />
       <h3> User-Provided Case Information </h3>
       <p>  Based on your account status, you may perform the following tasks:
       <br>
       <br>
       •Share cases
       <br>
       •Comment on cases
       <br>
       •Search cases
       <br>
       •Answer medical and non-medical questions
       <br>
       <br>
       (a) Comment on cases. We will store your comments, the dates of comments, and the username connected to the comments.
       <br>
       <br>
       (c) "Save" cases. We will store the cases you have "saved" into "Collections," as well as the date they were saved and the username connected to those cases.
       <br>
       <br>
       (d) Flag cases and comments provided by other users (i.e., to indicate that identifiable information may have been improperly included in a case, caption, or comment). Until or unless the case or comment is deleted, we will store the cases and comments that you flag, the subcategory of the flagged case, the date flagged, and the username referenced to the flagged case or comment.These informational elements shall be referred to as “User-Provided Case Information.” All User-Provided Case Information that you generate in the Application must comply with local, national, provincial, state, and federal privacy legislation and best practices. Identifying information must be removed from any uploaded cases and should not be included in any captions or comments. We will store the date your account was created, the Application version, and the last login date.

      <br>
      <br>
       So that we mayimprove the Hippra Application, personalize the content, and make recommendations for you, we use and analyze the User-Provided Case Information and Automatically Collected Information (see below). We conduct surveys and research, test features in development and analyze the information to improve our products and services, develop new features, and conduct audits and quality assurance.</p>
      <br />
      <h3> Optional User-Provided Information </h3>

      <p>  You have the option to:
      <br> <br>
      •Request verification of your status asa healthcare professional. If you choose this option, you will be asked to provide us with additional information, which we will cross-reference with publicly available data to ensure that you are a licensed healthcare professional. If you are verified, we will store your status as a “verified healthcare professional.” You are required to update your status as necessary.
      <br>
      <br>
      •Invite colleagues to join Hippraso that they can use the Application. If you choose to do this, the Application will access the addressbook on your mobile device to enable you to choose which of your colleagues you would like to invite to the Application. While we may access your address book, we do not store your complete address book.
      <br>
      <br>
      •Expand your user profile with additional information. You may complete any of the following fields: real name, state, country, institution, categories of interest, graduation date, and years of experience, among others. You may include a short biography and upload a profile picture. You are responsible for the accuracy of all of the information you provide. This information is public and can be seen by other users.
      <br>
      <br>
      •Respond to surveys. We may survey users or solicit comments and opinions. If you respond, the information will be used to learn more about healthcare, to help improve your experience on the Application, and for other purposes of Nexus 8 International, LLC.We use, share, and store this information in the aggregate only, with the exception of comments, which will be linked to your user profile.
      <br>
      <br>
      •Allow colleagues to find you. When using the direct messaging feature, you may allow colleagues to find you and tosync your mobile device’s contacts to find people you know on the Application. If you choose to do this, the Application will access the entire address book on your mobile device and sync it to the Application. The Application uses a secure one-way hash to protect the emails and phone numbers in your contacts. </p>
      <br />

      <h3> Automatically Collected Information</h3>
      <p> In order to improve the Application and deliver the Services, the Application may collect certain information automatically. All information stored on our server will not be accessible by third parties.
      <br>
      <br>
      When you access or use the Services, we automatically collect information about you, including:
      <br>
      <br>
      •LogInformation. We log information about your use of the Services, including the type of browser you use, access times, pages viewed, your IP address, and the link you visited before navigating the Services.
      <br>
      <br>
      •Device Information. We collect information about the computer or mobile device you use to access the Services including the hardware model, operating system andversion, unique device identifiers, and mobile network information.
      <br>
      <br>
      •Information Collected by Cookies and Other Tracking Technologies. We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that helps us to improve the Services and your experience, see which areas and features of the Site are popular and count visits. We may also collect information using web beacons (also known as "gifs", "pixel tags" and "tracking pixels"). Web beacons are electronic images that may be used on the Services or emails and help deliver cookies, count visits, understand usage, campaign effectiveness, and determine whether an email hasbeen opened and acted upon.
      <br>
      <br>
      •Most web browsers are set to accept cookies by default. If you prefer, you can choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of the Services.
      <br>
      <br>
      •We may use the information provided by you to contact you from time to time to provide you with important information, push notifications, and marketing promotions. You will be given the option to opt-out of these notifications.</p>
      
      <h5> Section 2: Does the Application collect precise real-time location information of the device?</h5>
      <p> No, this Application does not collect precise information about the location of your mobile device. </p>

      <h5> Section 3: Do third parties see and/or have access to information obtained by the Application? </h5>
     
     <p> Anything you do, post, and share using the Services may be seen by other users. Therefore, you do not have a reasonable expectation to privacy when using the Services. The Services are designedto allow you to share information, cases and comments with other users. Your Personal User Information, User Provided Case Information, Optional User-Provided Information and any other Content you voluntarily provide may be used by Nexus 8 International, LLC for enhancing the Services. Nexus 8 Internationalhereby reserves the right to and may alter, decompile, dissemble, and create derivative works of any and all such materials. You expressly consent to Nexus 8 International’suse of the Content in this manner and understand that such information may be cross-marketed and shared with other users and third parties who may have an interest in your use of the HippraApplication.
     <br> <br>
     We will disclose Personal User Information and Automatically Collected Information, as described above, within or outside your jurisdiction, in the following circumstances:
     <br>
     <br>
     •as required by law, such as to comply with a subpoena, or similar legal process;
     <br>
     •when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;
     <br>
     •with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement;
     <br>
     •if Nexus 8 International, LLCis involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Website and/or Application of any change in ownership or uses of this information, as well as any choices you may have regarding this information;and
     <br>
     •we disclose user email addresses to third-party email service providers in order to deliver to users Hipprainformational, service and content emails.User-Provided Case Information may be shared more broadly with third parties and HippraClients.
     <br>
     <br>
     We may create Anonymous Data from User Provided Informational by excluding information (such as your name) that makes such data personally identifiable. We reserve the right to use and disclose Anonymous Data for any purpose in our sole discretion. </p>


     <h5> Section 4: What are my opt-out rights?</h5>

     <p> You can stop all collection of information by the Application by uninstalling the Application. You may use the standard uninstall processes that may be available as part of your mobile device or via the mobile application marketplace or network.
     <br>
     <br>
     You may opt out of the aforementioned content announcements and messages. However, the Application will not allow you to opt out of any announcements and messages related to the implementation of this Policy and your obligations thereunder. As such, should your uploaded cases, case captions, or comments contain identifying information about a patient (as described in theTerms of Service), you will receive messages from Nexus 8 International, LLCnotifying you of a potential privacy violation associated with this content.
     <br>
     <br>
     You may also delete your account by going to your profile and tapping and holding the“Logout” button. You will be asked to confirm that you would like to delete your account. If you confirm, your profile information will be automatically deleted from the Hippraserver. Your cases and comments will be anonymized and attributed to "Healthcare Professional." You may request to have all images and comments associated with your account deleted. However, we cannot guarantee that we will be able to recall and delete images that have been provided to third parties, such as medical journals or medical education websites. Please note that we may retain certain information as required by law or for legitimate business purposes.
     <br>
     <br>
     When we delete any information, it will be deleted from the active database, but may remain in our archives. We may also retain your information for fraud or similar purposes. All provisions of this Privacy Policy which by their nature should survive termination, shall survive termination, including without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. </p>
 
     <h5> Section 5: Data Retention Policy, Managing Your Information  </h5>
     <p> You may update, correct or delete information about you at any time by logging in to your Profile.
     <br>
     <br>
     We will retain User-Provided Information as described above for as long as you use the Application, and will delete it if you delete your account, which can be done by tapping and holding the "Logout" button on the settings page within the profile tab in the Application or by contacting us viasupport@hippra.com. You will be asked to confirm that you would like to delete your account. If you confirm, your profile information will be automatically deleted from the Hippra server. Your cases and comments willbe anonymized and attributed to "Healthcare Professional." You may request to have all images and comments associated with your account deleted. However, we cannot guarantee that we will be able to recall and delete images and comments that have been provided to third parties, such as medical journals or medical education websites. Please note that we may retain certain information as required by law or for legitimate business purposes.
     <br>
     <br>
     If you contact Nexus 8 International, LLC to delete your account, the change will be processed within seven (7) calendar days. </p>
    
    <h5> Section 6: Security </h5>

    <p> We are concerned about safeguarding the confidentiality of your User-Provided Information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, your password is cryptographically hashed and your email address is encrypted.
    <br>
    <br>
    We limit access to your User-Provided Information to authorized employees and contractors who need to know that information in order to operate, develop, or improve the Application. Please be aware that, although we will take reasonable steps to safeguard and maintain security of User-Provided Information that we process and maintain, no security system can prevent all potential security breaches. Please refer to theTerms of Servicefor more details about Nexus 8 International, LLC’s and your obligations with respect to the proper use of the Application and notification obligations thereunder. </p>
    
    <h5> Section 7: Changes </h5>
    <p> This Privacy Policy may be updated from time to time for any reason. Each time you use the Application, the most current version of the Privacy Policy will apply. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policyhere. You are advised to consult this Privacy Policy regularly for any changes. Unless stated otherwise, the most current version of the Privacy Policy applies to all information that we have about you. We will not materially change our policies and practices to make them less protective of your privacy without the consent of affected users. </p>

    <h5> Section 8: Your Consent </h5>
    <p>  By using the Application, you are consenting to our processing User-Provided Information and Automatically Collected Information as set forth in this Privacy Policy now and as amendedby us. “Processing” means using cookies on a computer/hand-held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining, and disclosing information.
    <br> <br>
    If you have any questions regarding privacy while using the Application, have questions about our practices, or wish to make a complaint about our handling of your personal data, please contact us viaemailor anonymouslyhere. We will make every effort to investigate and respond to your complaint in a timely way.
    <br>
    <br>
    Any and all good-faith disclosures of privacy concerns under this Policy will not be used to restrict or prohibit you from continuing to use the Application to the extent permitted by law. However, disclosure of any unlawful practices implicating the Privacy Policy to Nexus 8 International, LLC does not release you from your obligations to notify local, national, provincial, state, and federal authorities of any violation of law related to your use of the Application.</p> 
   
   <h5> Section 9:Notice to Residents of California </h5>
   <p> California law permits customers in California to request certain details about how their information is shared with third parties and, in some cases, affiliates, for those third parties' and affiliates' own direct marketing purposes. Under the law, a business must either provide this information or permit California customers to opt in to, or opt out of, this type of sharing. We may from time to time elect to share certain information you collected by us on the Services with third parties or affiliates for those third parties' or affiliates' own direct marketing purposes.If you are a resident of California, California Civil Code Section 1798.83 permits you to opt out and/or request information regarding the disclosure of your personal information by us to third parties for the third parties’ direct marketing purposes.
   <br> <br>
   This Policy applies only to their activities within the State of California. To make such a request, please send an email tosupport@hippra.comor write us at:
5028 Wisconsin Avenue, NW Suite 100 Washington, DC 20016
<br> <br>
Any such request must include "California Privacy Rights Request" in the first line of the request and include your name, street, address, city, state, and ZIP code. Please note that we are only required to respond to one request per customer each year, and we are not required to respond to requests made by means other than through this email address or mail address. California residents are also entitled to contact the Complaint Assistance Unit ofthe Division of Consumer Services of the California Department of Consumer Affairs in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210 for suspected violations and to learn more about their rights. </p>
</div>


</div>
@code {

}
