@page "/privacy"


    <div class="container">


        <object data="\file\HIPPRA PRIVACY POLICY UPDATED 05-2020.pdf" type="application/pdf" width="100%" height="800px">
            <p>
                It appears you don't have a PDF plugin for this browser.
                No biggie... you can <a href="\file\HIPPRA PRIVACY POLICY UPDATED 05-2020.pdf">
                    click here to
                    download the PDF file.
                </a>
            </p>
        </object>


    </div>
@code {

}
