@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject IJSRuntime JSRuntime

@*<div class="container">
    @if (showBanner)
    {
        <div id="cookieConsent" class="alert alert-info alert-dismissible fade show mb-0" role="alert">
            We use cookies to bring you the best site we can. If you're OK with that, just keep browsing. <a href="/Privacy">Learn More</a>.
            <button type="button" class="accept-policy close" @onclick="AcceptCookieConsent" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Accept</span>
            </button>
        </div>

    }
</div>*@



@code {

    private bool showBanner { get; set; }
    private ITrackingConsentFeature consentFeature { get; set; }
    string cookieString { get; set; }

    protected override async Task OnInitializedAsync()
    {
        consentFeature = httpContextAccessor.HttpContext.Features.Get<ITrackingConsentFeature>();
        showBanner = !consentFeature?.CanTrack ?? false;
        cookieString = consentFeature?.CreateConsentCookie();
    }

    private async Task AcceptCookieConsent()
    {
        var test = await JSRuntime.InvokeAsync<string>("blazorExtensions.WriteCookie", ".AspNet.Consent", "yes", 365);
        showBanner = false;
        this.StateHasChanged();
    }

}
