<div class="card">
    <div class="card-header ft-card-header ms-fontWeight-semibold ms-fontSize-20 text-muted">
        Layout Settings
    </div>
    <div class="card-body">

        @*<button type="button" class="btn btn-outline-dark d-block" autocomplete="off" @onclick="toggleTheme">
            Toggle Themes
        </button>
        <br />
        *@


        @if (isDemoMode)
        {
            <button type="button" class="btn btn-outline-dark active d-block " data-toggle="button" aria-pressed="true" autocomplete="off" @onclick="toggleDemo">
                Toggle DemoMode
            </button>
        }
        else
        {
            <button type="button" class="btn btn-outline-dark d-block  " data-toggle="button" aria-pressed="false" autocomplete="off" @onclick="toggleDemo">
                Toggle DemoMode
            </button>
        }
        <br />

        @if (HasSidebar)
        {
            <button type="button" class="btn btn-outline-dark active d-block " data-toggle="button" aria-pressed="true" autocomplete="off" @onclick="toggleSlider">
                Toggle Sidebar
            </button>
        }
        else
        {
            <button type="button" class="btn btn-outline-dark d-block  " data-toggle="button" aria-pressed="false" autocomplete="off" @onclick="toggleSlider">
                Toggle Sidebar
            </button>
        }
        <br />

        @if (HasFooter)
        {
            <button type="button" class="btn btn-outline-dark active d-block " data-toggle="button" aria-pressed="true" autocomplete="off" @onclick="toggleFooter">
                Toggle Footer
            </button>
        }
        else
        {
            <button type="button" class="btn btn-outline-dark d-block " data-toggle="button" aria-pressed="false" autocomplete="off" @onclick="toggleFooter">
                Toggle Footer
            </button>
        }
        <br />

        @if (HasTopControls)
        {
            <button type="button" class="btn btn-outline-dark active d-block " data-toggle="button" aria-pressed="true" autocomplete="off" @onclick="toggleTopControls">
                Toggle Top Controls
            </button>
        }
        else
        {
            <button type="button" class="btn btn-outline-dark d-block " data-toggle="button" aria-pressed="false" autocomplete="off" @onclick="toggleTopControls">
                Toggle Top Controls
            </button>
        }
    </div>

</div>

@code {
    [CascadingParameter(Name = "FT_LAYOUT")]
    public FTLayout layoutMgr { get; set; }

    private ThemeOption Theme { get; set; }
    private bool HasSidebar { get; set; }
    private bool HasFooter { get; set; }

    private bool HasTopControls { get; set; }
    private bool isDemoMode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Theme = layoutMgr.theme;
        HasSidebar = layoutMgr.HasSidebar;
        HasFooter = layoutMgr.HasFooter;

        HasTopControls = layoutMgr.HasTopControls;
        isDemoMode = layoutMgr.IsDemoMode;
    }
    private async Task toggleTheme()
    {
        if(Theme == ThemeOption.DARK)
        {
            Theme = ThemeOption.LIGHT;
        }
        else
        {
            Theme = ThemeOption.DARK;
        }

        layoutMgr.ChangeTheme(Theme);
    }
    private async Task toggleSlider()
    {
        layoutMgr.ToggleSidebar();
    }

    private async Task toggleFooter()
    {
        layoutMgr.ToggleFooter();
    }

    private async Task toggleTopControls()
    {
        layoutMgr.ToggleTopControls();
    }
    private async Task toggleDemo()
    {
        layoutMgr.ToggleDemoMode();
    }
}
