@using Hippra.Models.FTDesign
<div>
    <ul class="pagination">
        @foreach (var i in paginationData)
        {
            <li class="page-item @(i.isActive? "active" : "")">
                <div class="page-link" @onclick="(()=>ChangePage.InvokeAsync(i.id))">@i.id</div>
            </li>
        }
    </ul>
</div>

@code {

    [Parameter]
    public EventCallback<int> ChangePage { get; set; }
    [Parameter]
    public List<FTPaginationModel> paginationData { get; set; }

}
