h1{
    text-align: center;
    margin-top: 5rem;
    color: #004170;
    font-size: 3rem;
}

h3{
    text-align: center;
    color: #ff6600;
    font-size: 2rem;
}


/* Container for the progress bar */
.dot-progress-bar {
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px; /* Adjust width as needed */
    margin: 50px auto;
    padding: 10px 0; /* Gives space for the line */
}


.dot-progress-bar .line-segment {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(1/3 * 100%); /* This calculation assumes that the width of each segment (space between dots) is equal. The "- 10px" adjusts for half the width of a dot on each end. */
    height: 2px;
    background-color: #00AEAE; /* New color */
    transform: translateY(-50%);
    z-index: 0; /* Placed below the dots */
}

/* Line connecting the dots */
.dot-progress-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ff6600; 
    transform: translateY(-50%);        
}


/* Dot styles */
.dot {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    border-radius: 50%;
    background-color: #ff6600; /* Default/inactive dot color */
    z-index: 1;
}

/* Active dot color */
.dot.active {
    background-color: #00AEAE;
}

/* Container that spans the entire viewport */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem; /* Take full viewport height */
}

/* Styles for the dropdown container */
.dropdown-container {
    position: relative;
    width: 400px; /* Adjust as needed */
}

/* Styles for the dropdown box */
.dropdown {
    width: 100%;
    padding: 10px 30px 10px 10px; /* Adjusted padding to make space for the SVG */
    border: none;
    border-bottom: 2px solid #004170;
    background-color: transparent;
    border-radius: 0;
    font-size: 16px;
    appearance: none;
}


.dropdown-container::after {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M5,5 L15,5 L10,15 Z" fill="black" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Adjust the dropdown appearance on focus */
.dropdown:focus {
    outline: none;
    border-bottom-color: #004170;
}

/* Styles for the placeholder option */
.dropdown option:disabled {
    color: gray;
}


body {
    font-family: Open Sans;
    background-image: url('H_color.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 25% auto;
    background-attachment: fixed; /* Added this line */
}
