
body{
    font-family: Open Sans;
    background-image: url('H_color.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 25% auto;
    background-attachment: fixed;
}

h1 {
    color: #ff6600;
    font-size: 3rem;
}

.login-container {
    text-align: center;
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    
}

.input-field{
    margin-top: 20px;
}

.login-container .input-field input {
    font-size: 16px;
    display: block;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 2px solid #004170;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

input::placeholder {
    color: #004170;
    font-weight: 100;
}
.remember-me{
    font-size: 20px;
    margin-top: 20px;
    color: #004170;
}

.remember-me input[type="checkbox"]{
    /* margin-right: 10px; */
    width: 15px; 
    height: 15px;
    
}

.login-btn{
    margin-top: 40px;
    background-color: #004170;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
}

.login-btn:hover{
    cursor: pointer;
    font-weight: bold;
}

.login-btn:active{
    background-color: #ff6600;
}

.or-div{
    margin-top: 50px;
    font-size: 20px;
}

.or-div a{
    color: #ff6600;
}

.bg-logo{
    margin-top: 10px;
}