<div class="ft-footer border-top text-muted d-block">
    <div class="text-center d-none d-md-block">
        2022 &copy; Nexus 8 International ·
        <a href="/About">About</a> ·
        <a href="/Privacy">Privacy</a> ·
        <a href="/Terms">Terms</a> ·
        <a href="/FTContact">Contact Us</a>
    </div>
    <div class="text-center d-md-none">
        <div>
            2022 &copy; Nexus 8 International
        </div>
        <div>
            <a href="/About">About</a> ·
            <a href="/Privacy">Privacy</a> ·
            <a href="/Terms">Terms</a> · 
            <a href="/FTContact">Contact Us</a>
        </div>
    </div>

    @*<div class="row">
            <div class="col">
                2020 &copy; Nexus 8 International
            </div>
            <div class="col text-right d-sm-none">
                <a href="/Privacy">Privacy</a> ·
                <a href="/Terms">Terms</a>
            </div>
            <div class="col text-right d-none d-sm-block">
                <a href="/About">About</a> ·
                <a href="/Privacy">Privacy</a> ·
                <a href="/Terms">Terms</a>
            </div>
        </div>*@



    @*<div class="d-flex">
            <div class="flex-grow-1">

                    // customization
            <div>2020 &copy; Nexus 8 International, LLC</div>


            </div>
            <div>

                <a href="/About">About</a> ·
                <a href="/Privacy">Privacy</a> ·
                <a href="/Terms">Terms</a>
            </div>
        </div>*@



</div>

@code {
        [CascadingParameter(Name="DEMO_MODE")]
    public bool ISDemoMode { get; set; }
}
