@if (!IsMinimized)
{
    <div class="d-flex  @BackgroundColorCssClass">
        <div>
            <a class="btn @BtnCustomCssClass ft-btn-round" href="/FTSettings"><i class="ms-Icon ms-Icon--Settings" aria-hidden="true"></i></a>
        </div>

        <div>
            <div class="dropup">
                <button type="button" class="btn @BtnCustomCssClass ft-btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ms-Icon ms-Icon--Info" aria-hidden="true"></i></button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">2019 &copy; FTDesign</h6>
                    <a class="dropdown-item" href="/About"> About</a>
                    <a class="dropdown-item" href="/AboutMe"> FAQ</a>
                    <a class="dropdown-item" href="/Privacy"> Privacy</a>
                    <a class="dropdown-item" href="/Terms"> Terms</a>
                    @*<div class="dropdown-divider"></div>*@
                </div>
            </div>
        </div>
        <div>
            <div class="dropup">
                <button type="button" class="btn @BtnCustomCssClass ft-btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ms-Icon ms-Icon--CirclePlus" aria-hidden="true"></i></button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Export Tools</h6>
                    <a class="dropdown-item" href="#"><i class="ms-Icon ms-Icon--Print" aria-hidden="true"></i> Print</a>
                    <a class="dropdown-item" href="#"><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i> Copy</a>
                    <a class="dropdown-item" href="#"><i class="ms-Icon ms-Icon--ExcelDocument" aria-hidden="true"></i> Excel</a>
                    <a class="dropdown-item" href="#"><i class="ms-Icon ms-Icon--AnalyticsView" aria-hidden="true"></i> CSV</a>
                    <a class="dropdown-item" href="#"><i class="ms-Icon ms-Icon--PDF" aria-hidden="true"></i> PDF</a>
                    @*<div class="dropdown-divider"></div>*@
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex  @BackgroundColorCssClass">
        <div>
            <a class="btn @BtnCustomCssClass ft-btn-round" href="/FTSettings"><i class="ms-Icon ms-Icon--Settings" aria-hidden="true"></i></a>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsMinimized { get; set; } = false;
    [CascadingParameter(Name = "FT_THEME")]
    public ThemeOption themeOption { get; set; } = ThemeOption.LIGHT;
    private string BtnCustomCssClass { get; set; } = "";
    private string TextColorCustomCssClass { get; set; } = "";
    private string BackgroundColorCssClass { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        switch (themeOption)
        {
            case ThemeOption.LIGHT:
                BtnCustomCssClass = "btn-light ft-sidebar-bot-btn-light";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_LIGHT:
                BtnCustomCssClass = "ft-btn-light";
                TextColorCustomCssClass = "text-dark";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-light";
                break;
            case ThemeOption.FT_DARK:
                BtnCustomCssClass = "ft-btn-dark";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";

                break;
            default:
            case ThemeOption.DARK:
                BtnCustomCssClass = "btn-dark ft-sidebar-bot-btn-dark";
                TextColorCustomCssClass = "text-white";
                BackgroundColorCssClass = "ft-sidebar-bottom-bg-dark";
                break;
        }


    }
}
