@page
@model Hippra.Areas.Identity.Pages.Account.LogoffModel
@attribute [IgnoreAntiforgeryToken]

<div class="lead">Logged off.</div>

@*<script>
        window.location.replace("https://localhost:44324/FTRZRelogin");
    </script>*@