@using Hippra.Models.Enums

<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @msg
</div>

@code {
    [Parameter]
    public StatusCodeType statusCode { get; set; }

    private string msg { get; set; }

    protected override async Task OnInitializedAsync()
    {
        switch (statusCode)
        {
            case StatusCodeType.success:
                msg = "Success";
                break;
            case StatusCodeType.failed:
                msg = "Failed";
                break;
            case StatusCodeType.exception:
                msg = "Exception Occurred";
                break;
            case StatusCodeType.param:
                msg = "Parameter Error";
                break;
            default:
                msg = "Failed";
                break;
        }

    }
}
