@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@700&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@500;700&family=Mulish:wght@700&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&family=Viga&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 4063px;
    width: 1920px;
    font-family: Arial, sans-serif;
    background-color: #093B58;
    position: relative;
}

ul, li, header {
    margin: 100;
    padding: 100;
}

header {
    
    margin-bottom: 10px;
    background-color: #093B58;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1920px;
    height: 85px;   
}

/* Style the logo */
.logo {
    flex-grow: 1;  /* Grow to take available space */
    position: absolute;
    left: 38px;
    top: 27px;
    flex-shrink: 0;
}

/* Style the navigation links */

.nav-link-left {
    list-style: none;
    display: flex;
    align-self: center;
    margin-left: 237px;
    margin-top: 32px;
    margin-right: 30px;
}


.nav-link-right{
    list-style: none;
    display: flex;
    position: absolute;
    right: 0px;
    margin-top: 32px;
}

.nav-link-right li{
    margin-right: 20px;
    padding: 6px 12px;
}



.nav-link-left li {
    margin-right: 30px; 
    line-height: 40px;
}

.nav-link-right a,
.nav-link-left a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link-left a:hover {
    color: #DA5810;
}

.nav-login a:hover{
    color: #DA5810;
}

.register-btn{
    background-color: #DA5810;
    /* padding: 4px 10px; */
    border-radius: 7px; 
    color: #fff;
}

.tag-line-hung{
    display: flex;
    background-color: #fff;
    border-radius: 25px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-top: 65px; 
    margin-bottom: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 900px;
    height: auto;
    gap: 10px;
}

.bold-tag-line{
    margin-left: 90px;
    margin-top: 20px;
    color: #fff;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 0%;
}

.intro-sub{
    font-size: 40px;
    margin-left: 90px;
    margin-top: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 52px;
}

.create-acc-btn{
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 80px;
    background-color: #DA5810;
    color: #fff;
    width: fit-content;
    border-radius: 30px; 
    padding: 11px 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.create-acc-btn:active{
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
    color: black;
}

.btn:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
}


.alrdy-reg{
    margin-left: 90px;
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
}

.alrdy-reg a{
    color: #fff;
}

.intro-blw-hdr{
    margin-top: -10px;
    background-color: #093B58; 
    /* padding: 20px 0 100px 0; */
    padding-bottom: 30px;
    padding-top: 20px;
}


/* GLOBE SVG */
.globe-container {
    position: absolute;
    top: 100px; 
    right: 0; 
    
}

svg {
    display: block;
    width: 100%; 
    height: auto; 
}


.why-hippra {
    position: absolute;
    top: 1005px; 
    width: 1900px;
    height: 116px;
    text-align: center;
    font-size: 61px;
    font-weight: bold;
    color: #DA5810;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 10px;
    padding-top: 56px;
    z-index: 2;
    margin: 0;
}

.why-container {
    position: absolute;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    top: 1255px;
    width: 1920px;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 2; 
    padding-left: 180px; 
    padding-right: 180px; 
    box-sizing: border-box; 
    margin-top: -68px;
    
}

.container-four {
    position: relative;
    width: 342px; 
    height: 220px; 
    margin-right: 64px;
    /* background-color: #fff; */
    text-align: center;
    justify-content: center;
    align-items: center;

}

.hd-bold{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.sub-txt{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

.first-circle {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #D1FAE5; 
  }

.second-circle{
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #CFFAFE;
}

.third-circle{
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #DBEAFE;
}

.fourth-circle{
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-color: #EDE9FE;
}

.features-container{
    position: absolute;
    top: 1600px;
    transform: translateX(-50%);
    left: 50%;
}

.many-features{
    color: #FCFCFC;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
}

.explore_more{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.right-arrow-btn{
    display: inline-block;
    transition: transform 0.3s;
}

.explore_more:hover .right-arrow-btn{
    transform: translateX(.25rem);
}

.feature-container{
    position: absolute;
    top: 1850px;
    /* transform: translateX(0%); */
    z-index: 2;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    display: flex;          
    /* justify-content: center;  */
    padding-left: 196px; 
    padding-right: 196px; 
}
.container-three{
    width: 482px; 
    height: 747px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    margin-right: 22px;
}
.featured-left{
    color: #6f5192;
    background-color: #dcd3e7;
    border-radius: 7px;
    width: fit-content; 
    padding: 4px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.featured-center{
    color: #00008B;
    background-color: #B9D9EB;
    border-radius: 7px;
    width: fit-content; 
    padding: 4px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.featured-right{
    color: #007f00;
    background-color: #ccffcc;
    border-radius: 7px;
    width: fit-content; 
    padding: 4px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.image-container {
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
}
.image-container img {
    max-width: 100%; 
    height: auto; 
}
.container-content{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    /* text-align: justify; */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
}
.hd-feature{
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.container-btn{
    text-align: center;
    border: 2px solid #0077CC; 
    border-radius: 9px;
    margin: 50px 15px 50px 15px;
}
.more-button {
    display: inline-block;
    padding: 8px 12px; 
    color: #0077CC; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px;
}


.podcast-container{
    position: absolute;
    top: 2822px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.55);
    width: 1845px;
    height: 450px;
    padding-top: 102px;
    padding-left: 75px;
    margin: 0;
    overflow: hidden; 
}
.podcast-container li{
    list-style: none;
}
.podcast-container p{
    color: #FFF;
    font-family: Mulish;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0;
}
.pod-links{
    text-decoration: none;
    color: #0A0A0A;
    font-family: Viga;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-top: 102px; */
}
.pod-links:hover{
    color: #fff;
}
.podcast-container-1{
    flex: 40%; 
    /* border: 1px solid #ccc; */
    left: 75px;
}
.podcast-container-1 li{
    margin-top: 20px;
}
.podcast-container-2{
    flex: 60%; 
    /* border: 1px solid #ccc; */
}
.podcast-container-2 li{
    margin-left: 150px;
    margin-top: 20px;
}

.podcast-logo{
    display: flex;    
    padding: 10px;
    border-radius: 40px;
    border: 4px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(50px); 
}

.podcast-logo li{
    margin-right: 5px;
    margin-top: 0;
}

.last-svg{
    transform: translateY(15px);
}

.line-17{
    position: absolute;
    top: -10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 8px 0 0 0;
    width: 650px;
    height: 0px;
    transform-origin: 0 0;
    transform: rotate(61.504deg) scale(1, 1);
    left: 40%;
    filter: blur(2px);
}

.podcast, .podcast * {
    box-sizing: border-box;
}
.podcast {
    background: #ffffff;
    border-radius: 39.79px;
    border-style: solid;
    border-color:#000000;
    border-width: 6px;
    width: 442.7px;
    height: 502.05px;
    position: relative;
    box-shadow:  10px 20px 0px 0px rgba(29, 163, 157, 1.00);
    transform-origin: 0 0;
    transform: rotate(9.538deg) scale(0.997, 1.003);
    left: 57%;
    top: -170px;
}

.frame-14 {
    display: flex;
    flex-direction: column;
    gap: 5.97px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 23.87px;
    top: 59.68px;
}

.recent-breakthroughs {
    color: #000000;
    text-align: left;
    font: 700 31.83px 'MontserratAlternates-Bold', sans-serif;
    position: relative;
    width: 375.89px;
    height: 38.79px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.in-this-week {
    color: #4d4d4d;
    text-align: left;
    font: 500 13.93px 'MontserratAlternates-Medium', sans-serif;
    position: relative;
    width: 83.55px;
    height: 16.91px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.recently-search {
    color: #000000;
    text-align: left;
    font: 700 17.9px/120% 'MontserratAlternates-Bold', sans-serif;
    position: absolute;
    left: 24.12px;
    top: 135.61px;
    width: 150.19px;
    height: 21.88px;
}

.search {
    position: absolute;
    right: 11.2%;
    left: 82.4%;
    width: 6.4%;
    bottom: 66.74%;
    top: 27.34%;
    height: 5.92%;
}

.search2 {
    height: auto;
    position: absolute;
    right: 10.24%;
    left: 11.58%;
    width: 78.18%;
    bottom: 8.33%;
    top: 11.58%;
    height: 80.09%;
    transform: translate(-3.93px, 0px);
    overflow: visible;
}

.sparkle, .sparkle * {
    box-sizing: border-box;
}
.sparkle {
    width: 200px;
    height: 200px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(14.375deg) scale(0.994, 1.006);
    overflow: hidden;
    left: 73%;
    top: 1980px;
}
.group {
    height: auto;
    position: absolute;
    right: 11.66%;
    left: 11.68%;
    width: 76.66%;
    bottom: 11.53%;
    top: 11.51%;
    height: 76.96%;
    overflow: visible;
}


.pre-footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2450px;
    margin-left: 40px;
    
}

.footer-container-four{
    flex: 1; 
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.footer-container-four li{
    list-style: none;
    margin-top: 20px;
}
.list-pages p{
    color: #fff;
    font-size: 30px;
}

.list-more p{
    color: #fff;
    font-size: 30px;
}

.list-subs p{
    color: #fff;
    font-size: 20px;
}

.footer-links{
    text-decoration: none;
    color: #03989F;
    font-size: 20px;
}

.footer-text{
    color: #fff;
    margin-left: 50px;
    font-size: 16px;
}

.fa{
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #03989F;
    color: white;
}
  
.fa-twitter {
    background: #03989F;
    color: white;
}

.fa-linkedin {
    background: #03989F;
    color: white;
}

.footer{
    background-color: #093B58;
    width: 100%;
    height: 8rem;
    margin-top: 50px;
}

.myButton{
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 10px;
    padding: 5px 10px;
    margin-left: 20px;
}

.myButton:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

